### DATAFRAME

In [2]:
import re
import os
import xml.etree.ElementTree as ET
import mysql.connector 
import pandas as pd

In [3]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='proyecto_1_equipo_1')
mycursor = cnx.cursor()
mycursor.execute("""SELECT xml.age, txt.q3, txt.q4, txt.q5, txt.q20, txt.q21
                    FROM data_txt AS txt
                    INNER JOIN data_xml AS xml
                    ON txt.index_sql = xml.index_sql
                    WHERE xml.gender = "Woman";""")

myresult = mycursor.fetchall()
df_proyecto = pd.DataFrame(myresult, columns = ["edad","pais", "nivel de estudios", "puesto de trabajo", "sector", "tamaño de la compañia"])
cnx.close()

In [4]:
df_proyecto

,edad,pais,nivel de estudios,puesto de trabajo,sector,tamaño de la compañia
0,25-29,India,I prefer not to answer,Currently not employed,,
1,18-21,India,Some college/university study without earning ...,Student,,
2,18-21,India,Master’s degree,Student,,
3,18-21,India,Master’s degree,Student,,
4,25-29,Turkey,Bachelor’s degree,Data Scientist,Computers/Technology,"10,000 or more employees"
...,...,...,...,...,...,...
4885,18-21,India,Some college/university study without earning ...,Student,,
4886,18-21,India,Bachelor’s degree,Machine Learning Engineer,Academics/Education,0-49 employees
4887,18-21,India,Bachelor’s degree,Student,,
4888,22-24,Taiwan,Master’s degree,Student,,
4889,25-29,Pakistan,Master’s degree,Machine Learning Engineer,Online Service/Internet-based Services,"10,000 or more employees"