### DATAFRAME

In [17]:
import re
import os
import xml.etree.ElementTree as ET
import mysql.connector 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='proyecto_1_equipo_1')
mycursor = cnx.cursor()
mycursor.execute("""SELECT xml.age, txt.q3, txt.q4, txt.q5, txt.q20, txt.q21
                    FROM data_txt AS txt
                    INNER JOIN data_xml AS xml
                    ON txt.index_sql = xml.index_sql
                    WHERE xml.gender = "Woman";""")

myresult = mycursor.fetchall()
df_proyecto = pd.DataFrame(myresult, columns = ["edad","pais", "nivel de estudios", "puesto de trabajo", "sector", "tamaño de la compañia"])
cnx.close()

In [8]:
df_proyecto

,edad,pais,nivel de estudios,puesto de trabajo,sector,tamaño de la compañia
0,25-29,India,I prefer not to answer,Currently not employed,,
1,18-21,India,Some college/university study without earning ...,Student,,
2,18-21,India,Master’s degree,Student,,
3,18-21,India,Master’s degree,Student,,
4,25-29,Turkey,Bachelor’s degree,Data Scientist,Computers/Technology,"10,000 or more employees"
...,...,...,...,...,...,...
4885,18-21,India,Some college/university study without earning ...,Student,,
4886,18-21,India,Bachelor’s degree,Machine Learning Engineer,Academics/Education,0-49 employees
4887,18-21,India,Bachelor’s degree,Student,,
4888,22-24,Taiwan,Master’s degree,Student,,
4889,25-29,Pakistan,Master’s degree,Machine Learning Engineer,Online Service/Internet-based Services,"10,000 or more employees"

In [20]:
df_proyecto["pais"].unique()

array(['India', 'Turkey', 'Poland', 'Iran, Islamic Republic of...',
       'Egypt', 'Brazil', 'Viet Nam', 'United States of America',
       'Bangladesh', 'Indonesia', 'Russia', 'Italy', 'Argentina',
       'Singapore', 'Sweden', 'Canada', 'Other', 'Morocco', 'Taiwan',
       'Tunisia', 'Ireland', 'Hong Kong (S.A.R.)', 'Israel', 'Pakistan',
       'Philippines', 'Nigeria', 'Sri Lanka',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Arab Emirates', 'Thailand', 'Colombia', 'Spain', 'Japan',
       'Germany', 'China', 'Belgium', 'Austria', 'Mexico', 'South Korea',
       'France', 'Romania', 'Ukraine', 'Saudi Arabia', 'Kenya',
       'Netherlands', 'Portugal', 'Australia', 'Malaysia', 'South Africa',
       'Algeria', 'Kazakhstan', 'Peru', 'Norway', 'Ecuador',
       'Czech Republic', 'Greece', 'Switzerland',
       'I do not wish to disclose my location', 'Nepal', 'Ghana',
       'Denmark', 'Uganda', 'Ethiopia', 'Iraq', 'Chile', 'Belarus'],
      dtype=object)

In [43]:
condicion = [df_proyecto["pais"] == ['India', 'Turkey','Viet Nam', 'Bangladesh', 'Indonesia', 
        'Singapore', 'Taiwan', 'Hong Kong (S.A.R.)', 'Israel', 'Pakistan', 'Philippines', 'United Arab Emirates', 'Thailand', 'Japan', 'China', 'South Korea', 
       'Saudi Arabia', 'Malaysia', 'Kazakhstan', 'Nepal'], 
       df_proyecto["pais"] == ['Iran, Islamic Republic of...', 'Egypt','Morocco','Tunisia','Nigeria','Kenya','South Africa',
       'Algeria','Ghana','Uganda', 'Ethiopia', 'Iraq'],
       df_proyecto["pais"] == ['Poland','Russia', 'Italy', 'Sweden',
       'Ireland', 'United Kingdom of Great Britain and Northern Ireland','Spain',
       'Germany', 'Belgium', 'Austria',
       'France', 'Romania', 'Ukraine', 
       'Netherlands', 'Portugal', 'Norway',
       'Czech Republic', 'Greece', 'Switzerland',
       'Denmark','Belarus'],
       df_proyecto["pais"] == ['United States of America','Canada'],
        df_proyecto["pais"] == [
       'Brazil', 'Argentina',
       'Colombia', 'Mexico', 'Peru', 'Ecuador',
       'Chile'],
       df_proyecto["pais"] == ['Australia']
       ]

In [59]:
df_proyecto["continente"] = np.select(condicion, ["Asia","Africa","Europa","America del Norte", "America del Sur", "Oceania"])

ValueError: Expected a 1D array, got an array with shape (4890, 6)