### PDF KAGGLE:

Preguntas principales: Q2 (género) y Q5 (posición professional)

Preguntas rama: Q20 (sector), Q24 (actividades) y Q42 (recursos-datos)

In [2]:
with open("Datos/data_txt_clean.txt") as f:
    txt = f.readlines()

In [4]:
txt[1]

'0;India;Bachelor’s degree;Other;5-10 years;Python;A laptop;2-5 times;5-10 years;Manufacturing/Fabrication;50-249 employees;3-4;No (we do not use ML methods);25,000-29,999;$100-$999;null;null;Local development environments (RStudio, JupyterLab, etc.);Python, R; Vim / Emacs;Google Cloud TPUs ; Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ;Scikit-learn , TensorFlow ,Caret ;Linear or Logistic Regression, Decision Trees or Random Forests, Gradient Boosting Machines (xgboost, lightgbm, etc), Bayesian Approaches, Dense Neural Networks (MLPs, etc), Convolutional Neural Networks, Recurrent Neural Networks; None of these activities are an important part of my role at work; PostgreSQL ; None\n'

In [5]:
import pandas as pd

In [9]:
csv2 = pd.read_csv("Datos/exported_db_data.csv")
csv2.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
csv = pd.read_csv("Datos/data_remaning_kaggle.csv")
csv.head()

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
import re
import os
import xml.etree.ElementTree as ET
import mysql.connector 
import pandas as pd

In [11]:
def lectura_xml(ruta):
    

    tree = ET.parse(ruta)
    root = tree.getroot()

    xml_lista = []
    for child in root:
        xml_dict = {}
        for subchild in child:
            xml_dict[subchild.tag] = subchild.text
            xml_lista.append(xml_dict) # Es una lista que contiene diccionarios
        return xml_lista

In [12]:
lectura_xml("Datos/data_xml_clean.xml")

[{'level_0': '0',
  'index': '0',
  'time': '910',
  'age': '50-54',
  'gender': 'Man'},
 {'level_0': '0',
  'index': '0',
  'time': '910',
  'age': '50-54',
  'gender': 'Man'},
 {'level_0': '0',
  'index': '0',
  'time': '910',
  'age': '50-54',
  'gender': 'Man'},
 {'level_0': '0',
  'index': '0',
  'time': '910',
  'age': '50-54',
  'gender': 'Man'},
 {'level_0': '0',
  'index': '0',
  'time': '910',
  'age': '50-54',
  'gender': 'Man'}]